body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.wy-nav-content-wrap {
  background-color: #998576;
}
.wy-nav-side {
  background-color: #5b4e46;
}

.wy-side-nav-search {
  background-color: #afcf5a;
}

.wy-menu-vertical a:hover {
  background-color: #c47570;
  color: #fff;
}

